#igora las dependencias de desarrollo de la libreria llamada explorercrg
explorercrg/

#ignora el cromedriver
cromedriver

#ignora el archivo href_values.txt
href_values.txt

#ignora la carptea env
envcrg/

#ignora la carpeta que genera el .exe
dist/
